:root{
    --title-color:#322153;
    --primary-color:#34cb79;
}
*{
margin: 0;
padding: 0;
box-sizing:border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #cecbcb;
    -webkit-font-smoothing:antialiased;
}

a{
    text-decoration: none;
}

